<div class="all">
  <div class="all__firstCon">
    <div class="all__firstCon__titleCon">
      <div class="all__firstCon__titleCon__title">
        <div class="all__firstCon__titleCon__title__photo">
          <img src="../../assets/images/backVector.png" />
        </div>
        <div class="all__firstCon__titleCon__title__title">
          <div class="all__firstCon__titleCon__title__title__text">
            <p class="all__firstCon__titleCon__title__title__text__personalTxt">
              განათლება
            </p>
          </div>
          <div class="all__firstCon__titleCon__title__title__itemNumber">
            <p class="all__firstCon__titleCon__title__title__itemNumber1">
              {{ id + "/3" }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="all__firstCon__inputCon">
      <form [formGroup]="education" class="all__firstCon__inputCon__mainCon">
        <div class="ngFor" *ngFor="let item of formInputs">
          <div class="all__firstCon__inputCon__mainCon__mobileNumber">
            <label for="school">{{ item.one }}</label>
            <input
              class="all__firstCon__inputCon__mainCon__mobileNumber__mobileNum"
              type="text"
              required
              placeholder="სასწავლებელი"
              formControlName="school"
              minlength="2"
              [ngStyle]="{
                'border-color':
                  education.get('school')?.invalid &&
                  education.get('school')?.dirty
                    ? '#EF5050'
                    : '#98E37E'
              }"
              [ngStyle]="{
                'border-color':
                  education.get('school')?.value?.length == 0 ? '#bcbcbc' : ''
              }"
            />
            <p class="all__firstCon__inputCon__mainCon__mobileNumber__required">
              მინიმუმ 2 სიმბოლო
            </p>
          </div>
          <div class="all__firstCon__inputCon__mainCon__both">
            <div class="all__firstCon__inputCon__mainCon__both__nameCon">
              <label for="quality">{{ item.two }}</label>
              <select
                name="cars"
                id="cars"
                class="all__firstCon__inputCon__mainCon__both__nameCon__selected"
                formControlName="quality"
                [ngStyle]="{
                  'border-color':
                    education.get('quality')?.invalid &&
                    education.get('quality')?.dirty
                      ? '#EF5050'
                      : '#98E37E'
                }"
                [ngStyle]="{
                  'border-color':
                    education.get('quality')?.value?.length == 0
                      ? '#bcbcbc'
                      : ''
                }"
              >
                <option
                  class="all__firstCon__inputCon__mainCon__both__nameCon__selected__items"
                  value=""
                  disabled
                  selected
                  hidden
                >
                  აირჩიეთ ხარისხი
                </option>
                <option
                  class="all__firstCon__inputCon__mainCon__both__nameCon__selected__items"
                  *ngFor="let API of itemAPI"
                  [value]="API?.title"
                >
                  {{ API?.title }}
                </option>
              </select>
            </div>
            <div class="all__firstCon__inputCon__mainCon__both__lastnameCon">
              <p>{{ item.three }}</p>
              <input
                class="all__firstCon__inputCon__mainCon__both__lastnameCon__lastName"
                type="date"
                name="lastname"
                required
                formControlName="endDate"
                [ngStyle]="{
                  'border-color':
                    education.get('endDate')?.invalid &&
                    education.get('endDate')?.dirty
                      ? '#EF5050'
                      : '#98E37E'
                }"
                [ngStyle]="{
                  'border-color':
                    education.get('endDate')?.value?.length == 0
                      ? '#bcbcbc'
                      : ''
                }"
              />
            </div>
          </div>
          <div class="all__firstCon__inputCon__mainCon__description">
            <label for="description">{{ item.four }}</label>
            <input
              class="all__firstCon__inputCon__mainCon__description__text"
              type="text"
              placeholder="განათლების აღწერა"
              formControlName="description"
              [ngStyle]="{
                'border-color':
                  education.get('description')?.invalid &&
                  education.get('description')?.dirty
                    ? '#EF5050'
                    : '#98E37E'
              }"
              [ngStyle]="{
                'border-color':
                  education.get('description')?.value?.length == 0
                    ? '#bcbcbc'
                    : ''
              }"
            />
          </div>
        </div>

        <div class="all__firstCon__inputCon__mainCon__moreExperience">
          <button
            class="all__firstCon__inputCon__mainCon__moreExperience__btn"
            (click)="addNewForm($event)"
          >
            მეტი გამოცდილების დამატება
          </button>
        </div>
        <div class="all__firstCon__inputCon__mainCon__btnDiv">
          <button
            class="all__firstCon__inputCon__mainCon__btnDiv__btn"
            [routerLink]="['/Experience']"
          >
            უკან
          </button>
          <button
            class="all__firstCon__inputCon__mainCon__btnDiv__btn"
            (click)="end()"
          >
            დასრულება
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="all__secondCon">
    <cv-component [educationInfo]="education.value"></cv-component>
  </div>
</div>
