<div class="all">
  <div class="all__allCon">
    <div class="all__allCon__mainCon">
      <div class="all__allCon__mainCon__nameCon">
        <div class="all__allCon__mainCon__nameCon__null">
          <p class="all__allCon__mainCon__nameCon__null__nameLastName">
            პავლე მგელაძე
          </p>
        </div>
        <div>
          <div class="all__allCon__mainCon__nameCon__emailCon">
            <img src="../../assets/images/Vector@.png" />
            <p>anzorr666@redberry.ge</p>
          </div>
          <div class="all__allCon__mainCon__nameCon__numCon">
            <img src="../../assets/images/Vectornumber.png" />
            <p>+995 597 63 45 16</p>
          </div>
        </div>
        <div class="all__allCon__mainCon__nameCon__myInfoCon">
          <p class="all__allCon__mainCon__nameCon__myInfoCon__text">
            ჩემს შესახებ
          </p>
          <div class="all__allCon__mainCon__nameCon__myInfoCon__text2">
            <p>
              ძალიან მიყვარს დიზაინის კეთება. დილით ადრე რომ ავდგები
              გამამხნევებელი ვარჯიშების მაგიერ დიზაინს ვაკეთებ, მთავაია დრო
              შეუსაბამოპ მდგომაროების გამოჯანრთლეების სტრუქტურულ თვისებებს
            </p>
          </div>
        </div>
      </div>
      <div class="all__allCon__mainCon__imageCon">
        <img
          class="all__allCon__mainCon__imageCon__img"
          src="https://pbs.twimg.com/profile_images/1267289480379215872/7kHprhR3_400x400.jpg"
        />
      </div>
    </div>
    <div class="all__allCon__experienceCon">
      <p class="all__allCon__experienceCon__title">გამოცდილება</p>
      <div class="all__allCon__experienceCon__position">
        <div class="all__allCon__experienceCon__position__texts">
          <p class="all__allCon__experienceCon__position__texts__texts1">
            React Native Developer, Microsoft
          </p>
          <p class="all__allCon__experienceCon__position__texts__texts2">
            2020-09-23 - 2020-09-23
          </p>
        </div>
        <p class="all__allCon__experienceCon__position__description">
          Experienced Javascript Native Developer with 5 years in the industry.
          proficient withreact. Used problem-solving aptitude to encahge
          application performance by 14%.created data visualisation tools and
          integrated designs.
        </p>
      </div>
    </div>
    <div class="all__allCon__educationCon">
      <p class="all__allCon__educationCon__title">განათლება</p>
      <div class="all__allCon__educationCon__position">
        <div class="all__allCon__educationCon__position__texts">
          <p class="all__allCon__educationCon__position__texts__texts1">
            წმ. ანდრიას საპატრიარქოს სასწავლებელი, სტუდენტი
          </p>
          <p class="all__allCon__educationCon__position__texts__texts2">
            2020-09-09
          </p>
        </div>
        <p class="all__allCon__educationCon__position__description">
          ვსწავლობდი გულმოდგინეთ. მყავდა ფრიადები. რაც შემეძლო — ვქენი.
          კომპიუტერები მიყვარდა. ვიჯექი ჩემთვის, ვაკაკუნებდი ამ კლავიშებზე.
          მეუნებოდნენ — დაჯექი, წაიკითხე რამე, რას აკაკუნებ, დრო მოვა და
          ჩაგიკაკუნებსო. აჰა, მოვიდა დრო და ვერა ვარ დეველოპერი?
        </p>
      </div>
    </div>
  </div>
</div>
