<div class="all">
  <div class="all__allCon">
    <div class="all__allCon__mainCon">
      <div class="all__allCon__mainCon__nameCon">
        <div class="all__allCon__mainCon__nameCon__null">
          <p class="all__allCon__mainCon__nameCon__null__nameLastName">
            {{
              personalInformation?.name + " " + personalInformation?.lastName
            }}
          </p>
        </div>
        <div>
          <div class="all__allCon__mainCon__nameCon__emailCon">
            <img src="../../assets/images/Vector@.png" />
            <p>{{ personalInformation?.email }}</p>
          </div>
          <div class="all__allCon__mainCon__nameCon__numCon">
            <img src="../../assets/images/Vectornumber.png" />
            <p>{{ "+" + personalInformation?.mobileNum }}</p>
          </div>
        </div>
        <div class="all__allCon__mainCon__nameCon__myInfoCon">
          <p class="all__allCon__mainCon__nameCon__myInfoCon__text">
            ჩემს შესახებ
          </p>
          <div class="all__allCon__mainCon__nameCon__myInfoCon__text2">
            <p>{{ personalInformation?.description }}</p>
          </div>
        </div>
      </div>
      <div class="all__allCon__mainCon__imageCon">
        <img
          class="all__allCon__mainCon__imageCon__img"
          src="https://pbs.twimg.com/profile_images/1267289480379215872/7kHprhR3_400x400.jpg"
        />
      </div>
    </div>
    <div class="all__allCon__experienceCon">
      <p class="all__allCon__experienceCon__title">გამოცდილება</p>
      <div class="all__allCon__experienceCon__position">
        <div class="all__allCon__experienceCon__position__texts">
          <p class="all__allCon__experienceCon__position__texts__texts1">
            {{ experienceInfo?.position + " " + experienceInfo?.employer }}
          </p>
          <p class="all__allCon__experienceCon__position__texts__texts2">
            {{ experienceInfo?.startDate + "  " + experienceInfo?.endDate }}
          </p>
        </div>
        <p class="all__allCon__experienceCon__position__description">
          {{ experienceInfo?.description }}
        </p>
      </div>
    </div>
    <div class="all__allCon__educationCon">
      <p class="all__allCon__educationCon__title">განათლება</p>
      <div class="all__allCon__educationCon__position">
        <div class="all__allCon__educationCon__position__texts">
          <p class="all__allCon__educationCon__position__texts__texts1">
            {{ educationInfo?.school + " " + educationInfo?.quality }}
          </p>
          <p class="all__allCon__educationCon__position__texts__texts2">
            {{ educationInfo?.endDate }}
          </p>
        </div>
        <p class="all__allCon__educationCon__position__description">
          {{ educationInfo?.description }}
        </p>
      </div>
    </div>
  </div>
</div>
