<div class="all">
  <div class="all__allCon">
    <div class="all__allCon__mainCon">
      <div class="all__allCon__mainCon__nameCon">
        <div class="all__allCon__mainCon__nameCon__null">
          <p class="all__allCon__mainCon__nameCon__null__nameLastName">
            {{
              personalInformation?.name + " " + personalInformation?.lastName
            }}
          </p>
        </div>
        <div>
          <div class="all__allCon__mainCon__nameCon__emailCon">
            <img
              src="/assets/images/Vector@.png"
              *ngIf="personalInformation?.email"
            />
            <p>{{ personalInformation?.email }}</p>
          </div>
          <div class="all__allCon__mainCon__nameCon__numCon">
            <img
              src="/assets/images/Vectornumber.png"
              *ngIf="personalInformation?.mobileNum"
            />
            <p>{{ personalInformation?.mobileNum }}</p>
          </div>
        </div>
        <div
          class="all__allCon__mainCon__nameCon__myInfoCon"
          *ngIf="personalInformation?.description.length > 0"
        >
          <p class="all__allCon__mainCon__nameCon__myInfoCon__text">
            ჩემს შესახებ
          </p>
          <div class="all__allCon__mainCon__nameCon__myInfoCon__text2">
            <p>{{ personalInformation?.description }}</p>
          </div>
        </div>
      </div>
      <div
        class="all__allCon__mainCon__imageCon"
        *ngIf="personalInformation?.image"
      >
        <img
          class="all__allCon__mainCon__imageCon__img"
          [src]="personalInformation?.image"
        />
      </div>
    </div>
    <div class="all__allCon__experienceCon">
      <p class="all__allCon__experienceCon__title">გამოცდილება</p>
      <div
        class="all__allCon__experienceCon__position"
        *ngFor="let exp of experienceInfo"
      >
        <div class="all__allCon__experienceCon__position__texts">
          <p class="all__allCon__experienceCon__position__texts__texts1">
            {{ exp?.position + " " + exp?.employer }}
          </p>
          <p class="all__allCon__experienceCon__position__texts__texts2">
            {{ exp?.startDate + "  " + exp?.endDate }}
          </p>
        </div>
        <p class="all__allCon__experienceCon__position__description">
          {{ exp?.description }}
        </p>
      </div>
    </div>
    <div class="all__allCon__educationCon">
      <p class="all__allCon__educationCon__title">განათლება</p>
      <div
        class="all__allCon__educationCon__position"
        *ngFor="let edu of educationInfo"
      >
        <div class="all__allCon__educationCon__position__texts">
          <p class="all__allCon__educationCon__position__texts__texts1">
            {{ edu?.school + " " + edu?.quality }}
          </p>
          <p class="all__allCon__educationCon__position__texts__texts2">
            {{ edu?.endDate }}
          </p>
        </div>
        <p class="all__allCon__educationCon__position__description">
          {{ edu?.description }}
        </p>
      </div>
    </div>
  </div>
</div>
