.all {
  width: 40vw;
  height: auto;
  display: flex;
  justify-content: center;
  &__allCon {
    width: 90%;
    height: 100%;
    &__mainCon {
      margin-top: 55px;
      display: flex;
      &__nameCon {
        width: 80%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        height: auto;
        &__null {
          &__nameLastName {
            font-size: 35px;
            color: red;
            font-weight: bold;
          }
        }
        &__emailCon {
          width: 35%;
          display: flex;
        }
        &__numCon {
          width: 35%;
          display: flex;
        }
        &__myInfoCon {
          &__text {
            font-size: 20px;
            color: red;
            font-weight: bold;
          }
          &__text2 {
            width: 80%;
            margin-top: 13px;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            /* or 138% */

            text-transform: lowercase;
          }
        }
      }
      &__imageCon {
        width: 40%;
        height: 40%;
        &__img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
    &__experienceCon {
      margin-top: 23px;
      width: 100%;
      border-top: 1px solid #c8c8c8;
      &__title {
        margin-top: 20px;
        font-size: 20px;
        color: red;
        font-weight: bold;
      }
      &__position {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        &__texts {
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          &__texts1 {
            color: #1a1a1a;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
          }
          &__texts2 {
            font-family: "Helvetica Neue";
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #919191;
          }
        }
        &__description {
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-transform: capitalize;
          color: #000000;
        }
      }
    }
    &__educationCon {
      margin-top: 23px;
      width: 100%;
      border-top: 1px solid #c8c8c8;
      &__title {
        margin-top: 20px;
        font-size: 20px;
        color: red;
        font-weight: bold;
      }
      &__position {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        &__texts {
          display: flex;
          flex-direction: column;
          row-gap: 5px;
          &__texts1 {
            color: #1a1a1a;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
          }
          &__texts2 {
            font-family: "Helvetica Neue";
            font-style: italic;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #919191;
          }
        }
        &__description {
          width: 100%;
          font-family: "Helvetica Neue";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          text-transform: lowercase;
          color: #000000;
        }
      }
    }
  }
}
