<div class="all">
  <div class="all__firstCon">
    <div class="all__firstCon__titleCon">
      <div class="all__firstCon__titleCon__title">
        <div class="all__firstCon__titleCon__title__photo">
          <img src="../../assets/images/backVector.png" />
        </div>
        <div class="all__firstCon__titleCon__title__title">
          <div class="all__firstCon__titleCon__title__title__text">
            <p class="all__firstCon__titleCon__title__title__text__personalTxt">
              გამოცდილება
            </p>
          </div>
          <div class="all__firstCon__titleCon__title__title__itemNumber">
            <p class="all__firstCon__titleCon__title__title__itemNumber1">
              {{ idPage + "/3" }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="all__firstCon__inputCon">
      <form class="all__firstCon__inputCon__mainCon">
        <div *ngFor="let item of formInputs">
          <div class="all__firstCon__inputCon__mainCon__mobileNumber">
            <label
              for="position"
              class="all__firstCon__inputCon__mainCon__mobileNumber__txt"
              >{{ item.one }}</label
            >
            <input
              class="all__firstCon__inputCon__mainCon__mobileNumber__mobileNum"
              type="text"
              required
              placeholder="დეველოპერი, დიზაინერი, ა.შ"
            />
            <p class="all__firstCon__inputCon__mainCon__mobileNumber__required">
              მინიმუმ 2 სიმბოლო
            </p>
          </div>
          <div class="all__firstCon__inputCon__mainCon__mail">
            <label
              for="employer"
              class="all__firstCon__inputCon__mainCon__mail__txt"
              >{{ item.two }}</label
            >
            <input
              class="all__firstCon__inputCon__mainCon__mail__mailTxt"
              type="text"
              required
              placeholder="დამსაქმელები"
            />
            <p class="all__firstCon__inputCon__mainCon__mail__required">
              მინიმუმ 2 სიმბოლო
            </p>
          </div>
          <div class="all__firstCon__inputCon__mainCon__both">
            <div class="all__firstCon__inputCon__mainCon__both__nameCon">
              <p class="all__firstCon__inputCon__mainCon__both__nameCon__txt">
                {{ item.three }}
              </p>
              <input
                class="all__firstCon__inputCon__mainCon__both__nameCon__name"
                type="date"
                name="name"
                required
              />
            </div>
            <div class="all__firstCon__inputCon__mainCon__both__lastnameCon">
              <p
                class="all__firstCon__inputCon__mainCon__both__lastnameCon__txt"
              >
                {{ item.four }}
              </p>
              <input
                class="all__firstCon__inputCon__mainCon__both__lastnameCon__lastName"
                type="date"
                name="lastname"
                required
              />
            </div>
          </div>
          <div class="all__firstCon__inputCon__mainCon__description">
            <label
              for="description"
              class="all__firstCon__inputCon__mainCon__description__txt"
              >{{ item.five }}</label
            >
            <input
              class="all__firstCon__inputCon__mainCon__description__text"
              type="text"
              placeholder="როლი თანამდებობაზე და ზოგადი აღწერა"
            />
          </div>
        </div>

        <div class="all__firstCon__inputCon__mainCon__moreExperience">
          <button
            class="all__firstCon__inputCon__mainCon__moreExperience__btn"
            (click)="addNewForm($event)"
          >
            მეტი გამოცდილების დამატება
          </button>
        </div>
        <div class="all__firstCon__inputCon__mainCon__btnDiv">
          <button
            class="all__firstCon__inputCon__mainCon__btnDiv__btn"
            [routerLink]="['/Personalinformation']"
          >
            უკან
          </button>
          <button
            class="all__firstCon__inputCon__mainCon__btnDiv__btn"
            [routerLink]="['/Education']"
          >
            შემდეგი
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="all__secondCon">
    <cv-component></cv-component>
  </div>
</div>
