<div class="all">
  <div class="all__firstCon">
    <div class="all__firstCon__titleCon">
      <div class="all__firstCon__titleCon__title">
        <div class="all__firstCon__titleCon__title__photo">
          <img
            class="backBTN"
            (click)="backBTN()"
            src="../../assets/images/backVector.png"
          />
        </div>
        <div class="all__firstCon__titleCon__title__title">
          <div class="all__firstCon__titleCon__title__title__text">
            <p class="all__firstCon__titleCon__title__title__text__personalTxt">
              გამოცდილება
            </p>
          </div>
          <div class="all__firstCon__titleCon__title__title__itemNumber">
            <p class="all__firstCon__titleCon__title__title__itemNumber1">
              {{ idPage + "/3" }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="all__firstCon__inputCon">
      <form [formGroup]="experience" class="all__firstCon__inputCon__mainCon">
        <div formArrayName="inputs">
          <div *ngFor="let item of inputs.controls; index as i" class="ngFor">
            <div [formGroupName]="i">
              <div class="all__firstCon__inputCon__mainCon__mobileNumber">
                <label
                  for="position"
                  class="all__firstCon__inputCon__mainCon__mobileNumber__txt"
                  >თანამდებობა</label
                >
                <input
                  class="all__firstCon__inputCon__mainCon__mobileNumber__mobileNum"
                  type="text"
                  required
                  formControlName="position"
                  placeholder="დეველოპერი, დიზაინერი, ა.შ"
                  minlength="2"
                  [ngStyle]="{
                    'border-color':
                      item.get('position')?.invalid &&
                      item.get('position')?.dirty
                        ? '#EF5050'
                        : '#98E37E'
                  }"
                  [ngStyle]="{
                    'border-color':
                      item.get('position')?.value?.length == 0 ? '#bcbcbc' : ''
                  }"
                />
                <p
                  class="all__firstCon__inputCon__mainCon__mobileNumber__required"
                >
                  მინიმუმ 2 სიმბოლო
                </p>
              </div>
              <div class="all__firstCon__inputCon__mainCon__mail">
                <label
                  for="employer"
                  class="all__firstCon__inputCon__mainCon__mail__txt"
                  >დამსაქმებელი</label
                >
                <input
                  class="all__firstCon__inputCon__mainCon__mail__mailTxt"
                  type="text"
                  required
                  placeholder="დამსაქმელები"
                  formControlName="employer"
                  minlength="2"
                  [ngStyle]="{
                    'border-color':
                      item.get('employer')?.invalid &&
                      item.get('employer')?.dirty
                        ? '#EF5050'
                        : '#98E37E'
                  }"
                  [ngStyle]="{
                    'border-color':
                      item.get('employer')?.value?.length == 0 ? '#bcbcbc' : ''
                  }"
                />
                <p class="all__firstCon__inputCon__mainCon__mail__required">
                  მინიმუმ 2 სიმბოლო
                </p>
              </div>
              <div class="all__firstCon__inputCon__mainCon__both">
                <div class="all__firstCon__inputCon__mainCon__both__nameCon">
                  <p
                    class="all__firstCon__inputCon__mainCon__both__nameCon__txt"
                  >
                    დაწყების თარიღი
                  </p>
                  <input
                    class="all__firstCon__inputCon__mainCon__both__nameCon__name"
                    type="date"
                    name="name"
                    required
                    formControlName="startDate"
                    [ngStyle]="{
                      'border-color':
                        item.get('startDate')?.invalid &&
                        item.get('startDate')?.dirty
                          ? '#EF5050'
                          : '#98E37E'
                    }"
                    [ngStyle]="{
                      'border-color':
                        item.get('startDate')?.value?.length == 0
                          ? '#bcbcbc'
                          : ''
                    }"
                  />
                </div>
                <div
                  class="all__firstCon__inputCon__mainCon__both__lastnameCon"
                >
                  <p
                    class="all__firstCon__inputCon__mainCon__both__lastnameCon__txt"
                  >
                    დამთავრების თარიღი
                  </p>
                  <input
                    class="all__firstCon__inputCon__mainCon__both__lastnameCon__lastName"
                    type="date"
                    name="lastname"
                    required
                    formControlName="endDate"
                    [ngStyle]="{
                      'border-color':
                        item.get('endDate')?.invalid &&
                        item.get('endDate')?.dirty
                          ? '#EF5050'
                          : '#98E37E'
                    }"
                    [ngStyle]="{
                      'border-color':
                        item.get('endDate')?.value?.length == 0 ? '#bcbcbc' : ''
                    }"
                  />
                </div>
              </div>
              <div class="all__firstCon__inputCon__mainCon__description">
                <p
                  for="description"
                  class="all__firstCon__inputCon__mainCon__description__txt"
                >
                  აღწერა
                </p>
                <input
                  class="all__firstCon__inputCon__mainCon__description__text"
                  type="text"
                  placeholder="როლი თანამდებობაზე და ზოგადი აღწერა"
                  formControlName="description"
                  [ngStyle]="{
                    'border-color':
                      item.get('description')?.invalid &&
                      item.get('description')?.dirty
                        ? '#EF5050'
                        : '#98E37E'
                  }"
                  [ngStyle]="{
                    'border-color':
                      item.get('description')?.value?.length == 0
                        ? '#bcbcbc'
                        : ''
                  }"
                  minlength="1"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="all__firstCon__inputCon__mainCon__moreExperience">
          <button
            class="all__firstCon__inputCon__mainCon__moreExperience__btn"
            (click)="addNewForm($event)"
          >
            მეტი გამოცდილების დამატება
          </button>
        </div>
        <div class="all__firstCon__inputCon__mainCon__btnDiv">
          <button
            class="all__firstCon__inputCon__mainCon__btnDiv__btn"
            [routerLink]="['/Personalinformation']"
          >
            უკან
          </button>
          <button
            class="all__firstCon__inputCon__mainCon__btnDiv__btn"
            (click)="nextSectionBtn()"
          >
            შემდეგი
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="all__secondCon">
    <cv-component [experienceInfo]="inputs.value"></cv-component>
  </div>
</div>
