<div class="all">
  <div class="all__firstCon">
    <div class="all__firstCon__titleCon">
      <div class="all__firstCon__titleCon__title">
        <div class="all__firstCon__titleCon__title__photo">
          <img src="../../assets/images/backVector.png" />
        </div>
        <div class="all__firstCon__titleCon__title__title">
          <div class="all__firstCon__titleCon__title__title__text">
            <p class="all__firstCon__titleCon__title__title__text__personalTxt">
              პირადი ინფო
            </p>
          </div>
          <div class="all__firstCon__titleCon__title__title__itemNumber">
            <p class="all__firstCon__titleCon__title__title__itemNumber1">
              {{ id + "/3" }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="all__firstCon__inputCon">
      <form [formGroup]="personalInfo" class="all__firstCon__inputCon__mainCon">
        <div class="all__firstCon__inputCon__mainCon__both">
          <div class="all__firstCon__inputCon__mainCon__both__nameCon">
            <p class="all__firstCon__inputCon__mainCon__both__nameCon__txt">
              სახელი
            </p>
            <div class="vlaidOrInvalid">
              <input
                class="all__firstCon__inputCon__mainCon__both__nameCon__name"
                [ngStyle]="{
                  'border-color':
                    personalInfo.get('name')?.invalid &&
                    personalInfo.get('name')?.dirty
                      ? '#EF5050'
                      : '#98E37E'
                }"
                [ngStyle]="{
                  'border-color':
                    personalInfo.get('name')?.value?.length == 0
                      ? '#bcbcbc'
                      : ''
                }"
                type="text"
                name="name"
                placeholder="ანზორ"
                formControlName="name"
                required
                value=""
                minlength="2"
              />
              <img
                *ngIf="personalInfo.get('name')?.valid"
                class="valid"
                src="/assets/images/Vectorvalid.png"
              />
              <img
                *ngIf="
                  personalInfo.get('name')?.invalid &&
                  personalInfo.get('name')?.dirty &&
                  personalInfo.get('name')?.value?.length !== 0
                "
                class="invalid"
                src="/assets/images/Vectorinvalid.png"
              />
            </div>
            <p
              class="all__firstCon__inputCon__mainCon__both__nameCon__required"
            >
              მინიმუმ 2 ასო, ქართული ასოები
            </p>
          </div>
          <div class="all__firstCon__inputCon__mainCon__both__lastnameCon">
            <p class="all__firstCon__inputCon__mainCon__both__lastnameCon__txt">
              გვარი
            </p>
            <div class="vlaidOrInvalid">
              <input
                class="all__firstCon__inputCon__mainCon__both__lastnameCon__lastName"
                type="text"
                name="lastname"
                placeholder="მუმლაძე"
                formControlName="lastName"
                required
                value=""
                [ngStyle]="{
                  'border-color':
                    personalInfo.get('lastName')?.invalid &&
                    personalInfo.get('lastName')?.dirty
                      ? '#EF5050'
                      : '#98E37E'
                }"
                [ngStyle]="{
                  'border-color':
                    personalInfo.get('lastName')?.value?.length == 0
                      ? '#bcbcbc'
                      : ''
                }"
                minlength="2"
              />
              <img
                *ngIf="personalInfo.get('lastName')?.valid"
                class="valid"
                src="/assets/images/Vectorvalid.png"
              />
              <img
                *ngIf="
                  personalInfo.get('lastName')?.invalid &&
                  personalInfo.get('lastName')?.dirty &&
                  personalInfo.get('lastName')?.value?.length !== 0
                "
                class="invalid"
                src="/assets/images/Vectorinvalid.png"
              />
            </div>
            <p
              class="all__firstCon__inputCon__mainCon__both__nameCon__required"
            >
              მინიმუმ 2 ასო, ქართული ასოები
            </p>
          </div>
        </div>
        <div class="all__firstCon__inputCon__mainCon__uploadPhoto">
          <label
            class="all__firstCon__inputCon__mainCon__uploadPhoto__txt"
            for="img"
            >პირადი ფოტოს ატვირთვა</label
          >
          <button
            class="all__firstCon__inputCon__mainCon__uploadPhoto__btn"
            formControlName="image"
          >
            ატვირთვა
          </button>
        </div>
        <div class="all__firstCon__inputCon__mainCon__description">
          <label
            class="all__firstCon__inputCon__mainCon__description__txt"
            for="description"
            >ჩემ შესახებ (არასავალდებულო)</label
          >
          <input
            class="all__firstCon__inputCon__mainCon__description__text"
            type="text"
            placeholder="ზოგადი ინფო შენ შესახებ"
            formControlName="description"
            value=""
            [ngStyle]="{
              'border-color':
                personalInfo.get('description')?.value !== null ? '#98E37E' : ''
            }"
            [ngStyle]="{
              'border-color':
                personalInfo.get('description')?.value?.length == 0
                  ? '#bcbcbc'
                  : ''
            }"
          />
        </div>
        <div class="all__firstCon__inputCon__mainCon__mail">
          <label class="all__firstCon__inputCon__mainCon__mail__txt" for="mail"
            >ელ.ფოსტა</label
          >
          <input
            class="all__firstCon__inputCon__mainCon__mail__mailTxt"
            type="email"
            required
            placeholder="anzorr666@redberry.ge"
            formControlName="email"
            value=""
            [ngStyle]="{
              'border-color':
                personalInfo.get('email')?.invalid &&
                personalInfo.get('email')?.dirty
                  ? '#EF5050'
                  : '#98E37E'
            }"
            [ngStyle]="{
              'border-color':
                personalInfo.get('email')?.value?.length == 0 ? '#bcbcbc' : ''
            }"
          />
          <p class="all__firstCon__inputCon__mainCon__mail__required">
            უნდა მთავრდებოდეს @redberry.ge-ით
          </p>
        </div>
        <div class="all__firstCon__inputCon__mainCon__mobileNumber">
          <label
            for="number"
            class="all__firstCon__inputCon__mainCon__mobileNumber__txt"
            >მობილურის ნომერი</label
          >
          <input
            class="all__firstCon__inputCon__mainCon__mobileNumber__mobileNum"
            type="number"
            placeholder="+995 551 12 34 56"
            required
            formControlName="mobileNum"
            value=""
            [ngStyle]="{
              'border-color': personalInfo.get('mobileNum')?.valid
                ? '#98E37E'
                : ''
            }"
            maxlength="12"
            minlength="12"
            [ngClass]="{
              'is-invalid':
                personalInfo.get('mobileNum')?.invalid &&
                personalInfo.get('mobileNum')?.dirty
            }"
          />
          <p class="all__firstCon__inputCon__mainCon__mobileNumber__required">
            უნდა აკმაყოფილებდეს ქართული მობილურის ნომრის ფორმატს
          </p>
        </div>
        <div class="all__firstCon__inputCon__mainCon__btnDiv">
          <input
            type="submit"
            class="all__firstCon__inputCon__mainCon__btnDiv__btn"
            (click)="personal()"
            value="შემდეგი"
          />
        </div>
      </form>
    </div>
  </div>
  <div class="all__secondCon">
    <cv-component></cv-component>
  </div>
</div>
